:root {
    --biru: #09558B;
    --kuning: #FFC71F;
    --bg: #F5F7FE;
    --soft: #E6F5FF;
  }
  
  * {
    padding: 0;
    margin: 0;
    font-family: "Overpass",sans-serif;
  }
  body {
    min-height: max-content;
    background-color: var(--bg);
  }
  
  .navbar {
    background-color: var(--biru);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem 2rem;
    position: fixed;
    left: 0;
    right: 0;
    border-bottom: 5px var(--kuning) solid;
    z-index: 100;
  }
  .nav-behind {
    height: 90px;
  }
  .logo {
    /* background-color: burlywood; */
    display: flex;
    align-items: center;
  }
  .logo img {
    width: 3rem;
  }
  .nama-rs {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-left: 1rem;
  }
  .nama-rs p {
    font-family: "Pacifico", sans-serif;
    font-size: 1.5rem;
    color: var(--bg);
    border-bottom: 1px var(--kuning) solid;
  }
  .nama-rs span {
    font-family: "Poetsen One";
    font-size: 0.9rem;
    color: var(--bg);
    justify-content: end;
  }
  .tentang a {
    background-color: var(--kuning);
    text-decoration: none;
    padding: 0.6rem 1.4rem;
    border-radius: 5px;
    color: var(--biru);
  }

  .pasien{
    margin: 5rem auto;
    width: 50rem;
    border-collapse: collapse;
  }
  td, th{
    text-align: left;
  }
  thead tr th{
    border-bottom: 1px black solid;
  }
  tbody tr th{
    padding-top: 1rem;
  }
  td{
    border-left: 1px black solid;
    padding-left: 1rem;
    padding-top: 1rem;
  }
  .col-detail a, .detail a{
    text-decoration: none;
    background-color: var(--biru);
    color: var(--bg);
    padding: 0.3rem 1rem;
    text-align: center;
    border-radius: 4px;
  }
  .col-detail a:hover, .detail a:hover{
    background-color: var(--kuning);
    color: var(--biru);
  }
  #blur.active{
    filter: blur(5px);
    pointer-events: none;
    user-select: none;
    
  }
  #popup{
    position: fixed;
    width: 40rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--soft);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 40%);
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
  }
  .penyakit, .obat, .tindakan, .kamar, .janji{
    display: flex;
    align-items: end;
  }
  .penyakit{
    margin-top: 1rem;
  }
  .janji{
    margin-bottom: 0.5rem;
  }
  .popup-ket{
    font-size: larger;
    font-weight: 500;
    padding-right: 0.5rem;
  }
  #popup.active{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
  }


  .judul{
    border-left: 1px black solid;
    padding-left: 1rem;
  }
  
  .footer{
    /* background-color: coral; */
    display: flex;
    justify-content: space-evenly;
    /* padding: 3rem 0; */
    height: 20rem;
  }
  .footer-logo, .footer-hubungi, .footer-informasi, .footer-kontak{
    display: flex;
    flex-direction: column;
  }
  .footer-logo-atas{
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .logo-rs{
    width: 3rem;
  }
  .footer-logo{
    background-color: var(--biru);
    padding: 3rem 2rem ;
  }
  .footer-logo, .footer-hubungi, .footer-informasi, .footer-kontak{
    align-items: start;
    width: 14rem;
    justify-content: center;
  }
  .footer-alamat{
    margin-top: 0.9rem;
  }
  .footer-alamat span{
    color: var(--bg);
    font-size: larger;
  }
  .footer-hubungi{
    width: 20rem;
  }
  .footer-hubungi a, .footer-informasi a{
    text-decoration: none;
    color: var(--biru);
    font-family: "Poppins", sans-serif;
    margin: 0.4rem 0;
  }
  .footer-hubungi, h2 .footer-informasi h2, .footer-kontak h2{
    margin-bottom: 0.3rem;
  }
  .footer-kontak a{
    width: 100%;
    padding: 0.2rem;
    padding-left: 0.7rem;
    margin: 0.4rem 0;
    text-decoration: none;
    color: var(--bg);
    font-family: "Poppins", sans-serif;
    border-radius: 3rem;
    background-color: var(--biru);
  }
  .copyright{
    background-color: var(--kuning);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
  }